<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>P-Form</title>

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

	<div class="container" th:fragment="header">
	
		<div class="row">
		
			<div class="col-md-6 text-left">
				<h1>EOLE <small>P-Form</small></h1>
			</div>
			
		    <div class="col-md-6 text-right">
				<h1>Région de la campagne</h1>
			</div>

		</div>
	
		<nav class="navbar navbar-default" role="navigation">
		
		  <div class="container-fluid">
		  
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#" style="padding: 10px 0 0 10px">
		      	<img class="img-responsive" alt="Logo P-Form" src="/images/logo-p-form.png" width="30px" height="30px" />
		      </a>
		    </div>
		    
		    <ul class="nav navbar-nav">

		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion des Lots<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Créer un lot</a></li>
		          <li><a href="#">Rechercher un lot</a></li>
		          <li class="divider"></li>
		          <li><a href="#">Créer un Modèle</a></li>
		        </ul>
		      </li>
		      
			<li><a href="#">Budget</a></li>

		    </ul>
		    
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Xavier Gouardes</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
		    </ul>	  
		      
		  </div>
		
		</nav>
		
	</div>

</body>
</html>